/* For the background */

    body {
        background-image: url("Pics/website back.bmp");
        background-repeat: no-repeat;
    }

/* For the intro */

    .French_Intro {
        display: none;
    }